* {
    box-sizing: border-box;
}

/* typography */
@font-face {
    font-family: DMSans;
    src: url(/fonts/DMSans_18pt-Medium.ttf)
}


/* Vars  & Helpers*/

:root {
    --clr1: #626262;
    --clr2: #0044b9;
}

.flex {
    display: flex;
}

.flex.alien-center {
    align-items: center;

}

.flex.space-between {
    justify-content: space-between;
}

.clean-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* base */

/* basics */
html {
    color: var(--clr1);
    font-family: DMSans;
}


body {
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

.main-layout>*:not(.full) {
    max-width: 1060px;
    margin: 0 auto;
}


.main-header {
    height: 160px;
}

.main-header .logo {
    font-size: 2.14em;
    text-transform: uppercase;
    color: var(--clr2);
}

button {
    /* color: whitesmoke; */
    border: 0;
    border-radius: .2em;
    padding: 6px 10px;
    margin: 2px;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background-color: gray;
    color: whitesmoke;
}

img {
    height: 100px;
    max-width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.cars-container {
    display: flex;
    flex-wrap: wrap;
}

.car-preview {
    /* background-color: whitesmoke; */
    max-width: 20%;
    min-width: auto;
    margin: .5em 1em;
    padding: 5px;
    border: 2px rgb(219, 219, 219) solid;
    border-radius: 5px;
}

.car-preview .btn-remove {
    float: right;
}

.car-preview .btn-fav {
    float: left;
    padding: 6px;
}

.car-preview h5 {
    font-size: 1.4em;
    text-decoration: overline;
    text-transform: capitalize;
}

.modal {
    color: whitesmoke;
    background-color: black;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 150%;
    height: 80vh;
    min-width: 300px;
    transition: left .5s;
}

.modal.open {
    left: 50%;
}

.modal h3 {
    text-transform: capitalize;
    color: lightblue;
}


.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: darkgray;
    padding: 10px;
    transition: bottom .5s;
}

.user-msg.open {
    bottom: 10px;
}