* {
    box-sizing: border-box;
}

/* Media Query */

@media (min-width:600px) {
    .main-layout {
        max-width: var(--s);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:960px) {
    @media (min-width:600px) {
        .main-layout {
            max-width: var(--m);
        }

        .cars-preview {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 1em;
        }

        .cars-preview>* {
            flex-basis: 50%;
        }


    }
}

@media (min-width:1200px) {
    .main-layout {
        max-width: var(--l);
    }


    .cars-preview {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .car-card {
        padding: 10px 1rem;
        flex-basis: 25%;
    }
}



/* typography */
@font-face {
    font-family: DMSans;
    src: url(/fonts/DMSans_18pt-Medium.ttf)
}


/* Vars  & Helpers*/

:root {
    --clr1: #626262;
    --clr2: #0044b9;
    --s: 600px;
    --m: 900px;
    --l: 1060px;
}

.flex {
    display: flex;
}

.flex.alien-center {
    align-items: center;

}

.flex.space-between {
    justify-content: space-between;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/* basics */
html {
    color: var(--clr1);
    font-family: DMSans;
}

body {
    overflow-x: hidden;
    text-align: center;
    margin: 0 auto;
}

button {
    /* color: whitesmoke; */
    border: 0;
    border-radius: .2em;
    padding: 6px 10px;
    margin: 2px;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background-color: gray;
    color: whitesmoke;
}

img {
    max-width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin-bottom: 10px;
}

a {
    color: var(--clr2);
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    font-weight: 500;
}

/* layout */
.main-layout>*:not(.full) {
    max-width: 1060px;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.main-header {
    height: 160px;
}

.main-header .logo {
    font-size: 2.14em;
    text-transform: uppercase;
    color: var(--clr2);
    cursor: pointer;
}




.cars-preview {
    margin-bottom: 20px;
}

.cars-preview-table {
    justify-content: center;
}

.car-card .btn-remove {
    float: right;
}

.car-card .utils-btn {
    padding: 5px 10px;
}

.car-card .card-text {
    text-transform: capitalize;
    text-align: start;
    padding: 0 15px;
}

.car-card .card-text h5 {
    font-size: 1.4em;
    text-transform: capitalize;
    margin-block-end: .5em;
}

.modal {
    color: whitesmoke;
    background-color: var(--clr2);
    padding: 10px;
    position: absolute;
    top: 0;
    left: 150%;
    height: 80vh;
    min-width: 300px;
    transition: left .5s;
}

.modal.open {
    left: 50%;
}

.modal h3 {
    text-transform: capitalize;
    color: lightblue;
}


.user-msg {
    text-transform: capitalize;
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: darkgray;
    padding: 10px;
    transition: bottom .5s;
}

.user-msg.open {
    bottom: 10px;
}